{% extends "layout.html" %} {% block content %}
<div class="content-card">
  {% if mode == 'view' %}
  <h2>Detail Mahasiswa</h2>
  <div class="detail-item"><strong>NIM:</strong> {{ mhs.nim }}</div>
  <div class="detail-item"><strong>Nama:</strong> {{ mhs.nama }}</div>
  <div class="detail-item"><strong>Jurusan:</strong> {{ mhs.jurusan }}</div>
  <div class="detail-item"><strong>Email:</strong> {{ mhs.email }}</div>
  <div class="detail-item"><strong>Telepon:</strong> {{ mhs.telp }}</div>
  <br />
  <a href="/mahasiswa">Kembali</a>

  {% elif mode == 'edit' %}
  <h2>Edit Data Mahasiswa</h2>
  <form action="{{ url_for('update', nim=mhs.nim) }}" method="POST">
    <div class="form-group">
      <label>Nama:</label>
      <input type="text" name="nama" value="{{ mhs.nama }}" />
    </div>
    <div class="form-group">
      <label>Jurusan:</label>
      <input type="text" name="jurusan" value="{{ mhs.jurusan }}" />
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="email" name="email" value="{{ mhs.email }}" />
    </div>
    <div class="form-group">
      <label>Telepon:</label>
      <input type="text" name="telp" value="{{ mhs.telp }}" />
    </div>
    <button type="submit" class="btn-submit">Simpan Perubahan</button>
    <a href="/mahasiswa" class="btn-cancel">Batal</a>
  </form>
  {% endif %}
</div>
{% endblock %}
